<h2>Add a Roommate</h2>
<p class="subtitle">Note: Please ask your roommate to sign-up for a user account before you add them as a roommate here.</p>

<p class="subtitle">(but they should not create an apartment profile)</p>

<%= render "form" %>
